@use '../../assets/sass/box-model' as box;
@use '../../assets/sass/fonts';
@use '../../assets/sass/colors';

.main__textarea-wrapper {
  width: 100%;
  max-width: 768px;
  font-size: fonts.$font-size-small-extra;
}

.main__textarea {
  width: 100%;
  
  max-height: 50vh;
  height: 240px;

  margin-bottom: box.$margin-standard;
  font-size: fonts.$font-size-standard;
  padding: box.$padding-small box.$padding-standard;

  border-radius: box.$border-radius-standard;
  box-shadow: box.$box-shadow-inset;
  
  resize: vertical;
}

.textarea__lang-info {
  text-align: center;
  margin-bottom: box.$margin-small-extra;
  font-size: fonts.$font-size-small-extra;
  color: colors.$main-standard;
}
