// components
@use 'components/container/container';
@use 'components/header/header';
@use 'components/main/main';
@use 'components/textarea/textarea';
@use 'components/keyboard/keyboard';

//helpars
@use './assets/sass/fonts';
@use './assets/sass/colors';
@use './assets/sass/box-model' as box;

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans.ttf');
}

// GENERAL
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: fonts.$font-size-standard;
  font-family: fonts.$font-family;
}

body {
  background: colors.$main-standard;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  padding: box.$padding-small box.$padding-standard;

  font-weight: bold;
  font-family: fonts.$font-family;

  border-radius: box.$border-radius-standard;
  border: none;
}
