@use '../../assets/sass/box-model' as box;

.main__textarea {
  width: 100%;
  max-width: 768px;
  max-height: 50vh;
  height: 300px;

  margin-bottom: box.$margin-standard;
  font-size: 1rem;
  padding: box.$padding-small box.$padding-standard;

  border-radius: box.$border-radius-standard;
  box-shadow: box.$box-shadow-inset;
  
  resize: vertical;
}